.container {
    width: 400px;
    height: 450px;
    border-radius: 1rem;
    margin-top: 7rem;
    margin-left: 2rem;
    padding: 0px;
     background-color: #FFE6C7;

}

.container2
{
   width: 400px;
   height: 100px;
   color: #454545;
   border-top-left-radius: 1rem;
   border-top-right-radius: 1rem;
   background-color: #FFA559;
}

body
{
  background-image: url('img1.jpg');
  background-repeat: no-repeat;
  background-size: 2000px 1000px;
}

h1
{
  margin-left: 1.5em;
  padding-top: 25px;
}

form {
    display: grid;
    grid-gap: 15px;
    margin-left: 3em;
    padding: 25px;
    color: #454545;
}

label
{
  padding-right: 10px;
  font-size: 1.25em;
}

input
{
  grid-column: 2/3;
  width: 15em;;
}

.form-group {
    display: grid;
    grid-template-columns: 200px 1fr;
}

@media screen and (min-width: 600px) {
    form {
        grid-template-columns: repeat(2, 1fr);
    }

    .form-group {
        grid-template-columns: 1fr 1fr;
    }
}
